<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/index.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>CdD Cuestionario</title>
  </head>
  <body>

    <div class="container-sm my-5 text-center">
      <img src="../static/cdD.png" alt="logo" class="img-fluid" width="350px">
      <div class="item txt1">
        <h1>Cuestionario 100D</h1>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-sm-5 col-12">
          <div class="text-start">
            <h3>Instrucciones</h3>
          </div>
      
          <div class="text-start mb-5">
            <h5>A continuación aparecerán diferentes opciones a elegir...</h5>
            <h6>Cuando estés listo da click en el botón "Comenzar actividad"</h6>
          </div>
          
          <button type="button" class="btn btn-primary" onclick="window.location.href='/cuestionario0'">Comenzar actividad</button>
        </div>
      </div>
     
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>